<div class="row">
  <div class="col">
      <app-trainer-details></app-trainer-details>
  </div>
  <div class="col">
    <div class="position-relative pb-5 mx-3">
      <div *ngFor="let heroCard of heroService.heroCards">    
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Hero: {{heroCard.name}}</h5>
            <h6>{{heroCard.name}} is attacker</h6>
            <p class="card-text">starting power: 10.0 current power: 50.0</p>
            <p class="card-text">suit colors: </p>
            <a href="#" class="btn btn-primary">Train {{heroCard.name}}</a>
          </div>
        </div>
      </div>
  </div>
  </div> 
</div>




