<div class="row">
  <div class="col">
      <app-trainer-details></app-trainer-details>
  </div>
  <div class="col">
    <div class="position-relative pb-5 mx-3">
      <div *ngFor="let heroCard of heroCardsDalService.heroCards">    
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Hero: {{heroCard.name}}</h5>
            <p class="card-text">{{heroCard.name}} is {{heroCard.ability}}</p>
            <p class="card-text">starting power: {{heroCard.startingPower}} </p>
            <p class="card-text">current power: {{heroCard.currentPower}}</p>
            <p class="card-text">suit colors: 
              <span 
              *ngFor="let color of heroCard.suitColors.split(',')"
              style="color: {{color}}"
              style="font-size: 26px">
                &#x272A;
              </span> </p>
            <button (click)="onTrainHero(heroCard.id)" class="btn btn-primary">Train {{heroCard.name}}</button>
          </div>
        </div>
      </div>
  </div>
  </div> 
</div>




