<div class="container my-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4 shadow">
                <div *ngIf="isLoading">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <form #signinForm="ngForm" 
                (ngSubmit)="onSubmit(signinForm)" 
                *ngIf="!isLoading"
                action="" method="" 
                class="row g-3">
                    <h4>Welcome Back</h4>
                    <div class="col-12">
                        <label for="username">Username</label>
                        <input 
                        id="username" 
                        [(ngModel)]="username" 
                        type="text" 
                        name="username" 
                        class="form-control" 
                        placeholder="Username" 
                        required>
                    </div>
                    <div class="col-12">
                        <label for="password">Password</label>
                        <input id="password" 
                        [(ngModel)]="password" 
                        type="password" 
                        name="password" 
                        class="form-control" 
                        placeholder="Password" 
                        minlength="6" 
                        required>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input 
                                [(ngModel)] = "rememberMe"                            
                                class="form-check-input" 
                                type="checkbox" id="rememberMe" name="rememberMe">
                            <label for="rememberMe" class="form-check-label" for="rememberMe"> Remember me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button [disabled]="!signinForm.valid" class="btn btn-dark float-end">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Don't have account yet? <a routerLink="/signup">Signup</a></p>
                </div>
            </div>
        </div>
    </div>
</div>