<div class="container mb-5 mt-2 align-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form bg-light mt-4 p-4 shadow">
                <div *ngIf="isLoading">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <form #signupForm="ngForm" 
                (ngSubmit)="onSubmit(signupForm)" 
                *ngIf="!isLoading"
                action="" method="" 
                class="row g-3">
                    <h4>Join us</h4>
                    <div class="col-12">
                        <label for="username">Username</label>
                        <input 
                        id="username" 
                        [(ngModel)]="username" 
                        type="text" 
                        name="username" 
                        class="form-control" 
                        placeholder="Username"
                        required>
                    </div>
                    <div class="col-12">
                        <label for="password">Password</label>
                        <input id="password" 
                        [(ngModel)]="password" 
                        type="password" 
                        name="password" 
                        class="form-control" 
                        placeholder="Password"
                        minlength="6"
                        required>
                    </div>
                    <div class="col-12">
                        <label for="rePassword">Retype Password</label>
                        <input id="rePassword" 
                        [(ngModel)]="rePassword" 
                        type="password" 
                        name="password" 
                        class="form-control" 
                        placeholder="Retype Password"
                        minlength="6"
                        required>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe"> Remember me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button 
                        type="submit" 
                        [disabled]="!signupForm.valid" 
                        [disabled]="password !== rePassword" 
                        class="btn btn-dark float-end">Sign Up</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Already have an account? <a routerLink="/signin">Login</a></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>